.data {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}
.data-top {
  width: 100%;
  height: 100px;
  line-height: 110px;
}
.data-title {
  color: #FFFFFF;
  font-size: 22px;
}
.base-data {
  position: fixed;
  top: 100px;
  left: 30px;
}
.monitor-data {
  position: fixed;
  top: 100px;
  right: 30px;
}
