.leftNav {
    /* background-color: #2A2E33; */
    width: 88px;
    height: 100vh;
    color: #ccc;
    /* opacity: .9; */
    position: fixed !important;
}
.leftBG{
       background-color: #2A2E33;
       width: 88px;
       height: 100vh;
       color: #ccc;
       opacity: .9;
       position: fixed !important;
}
.leftul{
    position: relative;
}
.iconun {
    margin: 0px 0px 0px -30px;
    cursor: pointer;
    font-size: 16px;
    padding-top: -30px;
    border-bottom: 1px solid#444444;
    width: 64px;
    text-align: center;
    height: 99px;
    line-height: 28px;
    padding-top: 18px;
}

.iconun:hover {
    color: #FFF;
}

.iconit {
    margin: 0px 0px 0px -42px;
    cursor: pointer;
    font-size: 16px;
    padding-top: -30px;
    border-bottom: 1px solid#444444;
    width: 90px;
    text-align: center;
    height: 99px;
    line-height: 28px;
    padding-top: 18px;
    /* margin-left: -30px; */
    background-color: #FFF;
    color: #D50000;
    font-weight:bold;
    opacity: 1 !important;
}

.iconyuanqujieshao,
.iconquweiyoushi,
.iconzhaoshangliebiao,
.iconruzhuqiye {
    font-size: 30px !important;
    display: inherit;
    margin-left: 31px;
    height: 35px !important;
    margin-top: 25px;
}


/*tree*/
.tree {
    position: fixed;
    top: 75px;
    left: 118px;
    width: 150px;
    height: 30px;
    color: rgb(229, 229, 229);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background: rgb(39, 39, 39, 0.9);
    border-image: initial;
    border-radius: 15px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}

.stree {
    border: 1px solid #707070;
    border-radius: 14px;
    width: 146px;
    height: 26px;
    line-height: 23px;
    position: relative;
    top: 2px;
    left: 2px;
}


