li {
    list-style: none;
}

.topNav {
    background-color: #2A2E33;
    width: 100%;
    height: 50px;
    color: #ccc;
    box-shadow: 0px 3px 5px rgba(6, 6, 6, 0.4);
    position: relative;
    z-index: 1;
}

.topLogo {
    width: 125px;
    height: 35px;
    position: relative;
    top: 9px;
    left: 36px;
    float: left;
}

.topM {
    width: 610px;
    position: absolute;
    top: 12px;
    left: 33%;
    display: inline-block;
    color: #B0B0B0;
}

.topM ul li {
    float: left;
    margin-left: 44px;
    cursor: pointer;
    font-size: 16px;
}

.topRight {
    width: 186px;
    float: right;
    margin-right: 35px;
    color: #B0B0B0;
    position: relative;
    top: 14px;
    text-align: right;
    margin-right: 36px;
    /* border: 1px solid; */
    cursor:pointer;
}

.bottomNav {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}