* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

i {
    display: inline-block;
}

li {
    list-style-type: none;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
textarea {
    resize: none;
    overflow: hidden;
    border: none;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.leaseRoomList {
    scrollbar-width: none;
}

.leaseRoomList::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
/*hometop*/
.homeTop {
    background: rgb(51, 51, 51);
    height: 40px;
    top: 0rem;
    /*position: absolute;*/
    width: 100%;
    font-size: 14px;
    color: rgba(185,185,185,1);
}

.homeTopBox {
    margin: auto;
    width: 1200px;
    height: 100%;
    line-height: 40px;
}

.htLeft {
    float: left;
}

.htLeft ul li {
    float: left;
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
}
.htLeft ul li a {
    color: rgba(185,185,185,1) ;
}
.htRight {
    float: right;
}

.htRight ul li {
    float: left;
    margin: 0 10px;
    cursor: pointer;
}

.homtop_active {
    color: rgba(255,255,255,1);
}
.homtop_active a {
    color: rgba(255,255,255,1) !important;
}
/*.ParkInfoOne*/
.ParkInfoOne {
    width: 100%;
}
.ParkInfoOne_title {
    margin: auto;
    width: 1200px;
    height: 100%;
}
.parkInfoBox_one {
    margin: auto;
    width: 1200px;
    border: 1px solid green;
}

.parkInfoBox_title {
    width: 1200px;
    margin: auto;
    position: relative;
    top: -845px
}
.ParkInfoOne_title img {
    display: inline-block;
}

.ParkInfoOne_title ul {
    display: inline-block;
    position: relative;
    top: 30px;
}

.ParkInfoOne_title ul li {
    font-size: 16px;
    color: rgba(51,51,51,1);
    float: left;
    margin: 0 12px;
    cursor: pointer;
}
.ParkInfoOne_title ul li a {
    font-size: 16px;
    color: rgba(51,51,51,1);
}
.oneTitle_active a{
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: rgba(23,161,230,1) !important;
}

/*.ParkInfoOne_title ul li:nth-child(1) a {

}
.ParkInfoOne_title ul li:nth-child(2) a {
    font-size: 16px;
    color: rgba(51,51,51,1);
}*/
.ParkInfoOne_html {
    color: rgba(152,159,168,1);
    margin: 10px 0;
    cursor: pointer;
}

.ParkInfoOne_html span {
    margin: 0 5px;
}
.ParkInfoOne_html span a {
    color: rgba(152,159,168,1);
}
.ParkInfoOne_info p {
    font-size: 28px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    display: inline-block;
}

.ParkInfoOne_info ul {
    float: right;
    margin-top: 15px;
}

.ParkInfoOne_info ul li {
}

.ParkInfoOne_info_li {
    display: inline;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(204,204,204,1);
    border-radius: 2px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.ParkInfoOne_info_li_On {
    display: inline;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(23,161,230,1);
    border-radius: 2px;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.ParkInfoOne_info_li i {
    margin-right: 5px;
    color: rgb(185, 185, 185);
}

.ParkInfoOne_info_li_On i {
    margin-right: 5px;
    color: rgba(23,161,230,1);
}
.ParkInfoOne_html {
    color: rgba(152,159,168,1);
    cursor: pointer;
    margin: auto;
    width: 1200px;
    height: 35px;
    line-height: 35px;
}

.ParkInfoOne_html span {
    margin: 0 5px;
}

.ParkInfoOne_info p {
    font-size: 28px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    display: inline-block;
}
/*warp*/
.warp {
    margin: auto;
    width: 1200px;
}
/*listBox*/
.listBox {
    width: 900px;
    display: inline-block;
    margin: 0 60px 40px 0;
}
.listBox hr{
    opacity:0.1;
}
.listBox_title {
    font-size: 26px;
    font-weight: bold;
    line-height: 60px;
    color: rgba(51,51,51,1);
    text-align: center;
}
.listBox_info {
    line-height: 36px;
    font-size: 12px;
    color: rgba(152,159,168,1);
}
.listBox_text p {
    text-indent: 2em;
    line-height: 25px;
    color: rgba(51,51,51,1);
}
.listBox_text img {
    width: 100%;
    margin-bottom: 1em;
}
.listBox_page {
    width: 277px;
    float: right;
    margin-top:20px;
}
.listBox_page p {
    width: 277px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listBox_page p a {
    color: rgba(51,51,51,1);
}
/*listRight*/
.listRight {
    width: 230px;
    display: inline-block;
    height: 1000px;
    position: absolute;
    top: 120px;
}
/*one*/
.listRight_one_p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: rgba(51,51,51,1);
}
.listRight_two {
    margin-top: 10px;
}
.listRight_three {
    margin-top: 10px;
}
.leaseRoomList {
    /*height: 490px;*/
    overflow-y: scroll;
    margin: 5px 0 0 0;
}

.leaseRoomList ul li {
    cursor: pointer;
}

.leaseRoomList ul li img {
    float: left;
    width: 88px;
    height: 66px;
    border-radius: 2px;
    margin-top: 5px;
}
.leaseRooms {
    padding: 8px 0 0 0;
    color: rgba(152,159,168,1);
    width: 234px;
    height: 82px;
    border-radius: 2px;
}

.leaseRooms_on {
    background: rgba(23,161,230,1);
    color: #fff;
    padding: 8px 0 0 5px;
    width: 234px;
    height: 82px;
    border-radius: 2px;
}

.leaseRooms_on p {
    color: #fff;
}

.leaseRooms_on span {
    color: #fff;
}

.leaseRoomsRight {
    display: inline-block;
    width: 133px;
    height: 66px;
    margin-left: 8px;
}

.leaseRoomsRight p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    width: 140px;
    line-height: 24px;
}

.leaseName {
    font-size: 14px;
    line-height: 19px;
    color: rgb(51, 51, 51);
}

.leasePrice {
    font-size: 16px;
    font-weight: bold;
    color: rgba(220,26,63,1);
}

.leaseArea {
    font-size: 12px;
    color: rgba(152,159,168,1);
}
.leaseArea2 {
    font-size: 12px;
    color: rgba(51,51,51,1);
}

.leaseArea i {
    font-size: 12px;
    color: rgba(207, 209, 210, 1);
    margin-right: 5px;
}
.listRight_three{

}
.listRight_three p:nth-child(1) {
    font-size: 16px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    margin: 0 0 5px 0;
}
.listRight_three p:nth-child(2) {
    font-size: 12px;
    color: rgba(51,51,51,1);
}
.listRight_three img {
    width: 150px;
    height: 150px;
}
/*allBottom*/
.homeBottom {
    height: 320px;
    /*bottom: 0rem;*/
    /*position: absolute;*/
    width: 100%;
    background: rgb(51, 51, 51);
    font-size: 14px;
    color: rgba(185,185,185,1);
}

.homeBottomBox {
    margin: auto;
    width: 1200px;
    line-height: 40px;
}

.homeBottomBox_one {
    text-align: center;
    padding-top: 47px;
    margin-bottom: 16px;
}

.hbLeft {
    width: 210px;
    display: inline-block;
    text-align: left;
    position: relative;
    top: -4px;
}
.hbLeft ul li {
    line-height: 28px;
}
.hbLeft ul li a {
    color: rgba(185,185,185,1);
}
.hbMiddle {
    width: 150px;
    display: inline-block;
}

.hbRight {
    width: 370px;
    display: inline-block;
    text-align: right;
    position: relative;
    top: -63px;
}

.homeBottomBox_two {
    text-align: center;
}

.homeBottomBox_two p {
    margin: 20px 0;
}