* {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}
i {
    display: inline-block;
}
li {
    list-style-type: none;
}
.leaseRoomList::-webkit-scrollbar {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
textarea {
    resize: none;
    overflow: hidden;
    border: none;
} 
html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

.leaseRoomList {
    scrollbar-width: none;
}

.leaseRoomList::-webkit-scrollbar {
    display: none;
}
.listOver{
    text-align:center;
}
/*hometop*/
.homeTop {
    background: rgb(51, 51, 51);
    height: 40px;
    top: 0rem;
    position: absolute;
    width: 100%;
    font-size: 14px;
    color: rgba(185,185,185,1);
}

.homeTopBox {
    margin: auto;
    width: 1200px;
    height: 100%;
    line-height: 40px;
}

.htLeft {
    float: left;
}

.htLeft ul li {
    float: left;
    text-align: center;
    margin: 0px 10px;
    cursor:pointer;
}

.htRight {
    float: right;
}

.htRight ul li {
    float: left;
    margin: 0 10px 0 30px;
    cursor:pointer;
}

.homtop_active {
    color: rgba(255,255,255,1);
}

/*allBottom*/
.homeBottom {
    height: 320px;
    bottom: 0rem;
    /*position: absolute;*/
    width: 100%;
    background: rgb(51, 51, 51);
    font-size: 14px;
    color: rgba(185,185,185,1);
}

.homeBottomBox {
    margin: auto;
    width: 1200px;
    line-height: 40px;
}

.homeBottomBox_one {
    text-align: center;
    padding-top: 47px;
}

.hbLeft {
    width: 210px;
    display: inline-block;
    text-align: left;
}

.hbMiddle {
    width: 150px;
    display: inline-block;
}

.hbRight {
    width: 370px;
    display: inline-block;
    text-align: right;
    position: relative;
    top: -63px;
}
.homeBottomBox_two {
    text-align: center;
}

.homeBottomBox_two p {
    margin: 0;
}
/*parkInfo*/

.parkInfo {
    background: rgb(255, 255, 255);
    /*top: 40px;*/
    position: relative;
    width: 100%;
    top: 215px;
}

.parkInfo_bottom {
    position: relative;
    top: 260px;
}

.parkInfoBox_one {
    margin: auto;
    width: 1200px;
    border: 1px solid green;
}

.parkInfoBox_title {
    width: 1200px;
    margin: auto;
    position: relative;
    top: -845px
}

.ParkInfoOne_title img {
    display: inline-block;
}

.ParkInfoOne_title ul {
    display: inline-block;
    position: relative;
    top: 30px;
}

.ParkInfoOne_title ul li {
    font-size: 16px;
    color: rgba(51,51,51,1);
    float: left;
    margin: 0 12px;
    cursor:pointer;
}

.ParkInfoOne_html {
    color: rgba(152,159,168,1);
    margin: 10px 0;
    cursor:pointer;
}
.ParkInfoOne_html span {
    margin:0 5px;
}
.ParkInfoOne_info p {
    font-size: 28px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    display: inline-block;
}

.ParkInfoOne_info ul {
    float: right;
    margin-top: 15px;
}

.ParkInfoOne_info ul li:nth-child(1) {
    margin: 0 10px 0 0;
}
.ParkInfoOne_info_li {
    display: inline;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(204,204,204,1);
    border-radius: 2px;
    padding: 8px 12px;
    cursor: pointer;
}
 
.ParkInfoOne_info_li_On {
    display: inline;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(23,161,230,1);
    border-radius: 2px;
    padding: 8px 12px;
    cursor: pointer;
}
.ParkInfoOne_info_li i {
    margin-right: 5px;
    color: rgb(185, 185, 185);
}
.ParkInfoOne_info_li_On i {
    margin-right: 5px;
    color: rgba(23,161,230,1);
}

.parkInfoBox_list {
    width: 260px;
    background: rgb(51, 51, 51);
    height: 1px;
    font-size: 14px;
    color: rgba(185,185,185,1);
    position: relative;
    top: -830px;
    z-index: 1;
}

.ParkInfoTwoAll {
    border: 0px solid red;
    width: 260px;
    height: 643px;
    background: rgba(255,255,255,1);
    opacity: 1;
    border-radius: 4px;
    position: relative;
    left: 0px;
}

.ParkInfoTwoOver {
    width: 260px;
    background: rgba(255,255,255,1);
    opacity: 1;
    border-radius: 4px 4px 0 0;
    position: relative;
    left: 0px;
}

@media screen and (min-width: 1201px) {
    .parkInfoBox_list {
        margin: auto calc(4%);
    }
}

@media screen and (min-width: 1301px) {
    .parkInfoBox_list {
        margin: auto calc(5%);
    }
}

@media screen and (min-width: 1401px) {
    .parkInfoBox_list {
        margin: auto calc(10%);
    }
}

@media screen and (min-width: 1501px) {
    .parkInfoBox_list {
        margin: auto calc(13%);
    }
}

@media screen and (min-width: 1601px) {
    .parkInfoBox_list {
        margin: auto calc(15%);
    }
}

@media screen and (min-width: 1701px) {
    .parkInfoBox_list {
        margin: auto calc(15%);
    }
}

@media screen and (min-width: 1801px) {
    .parkInfoBox_list {
        margin: auto calc(20%);
    }
}

.ParkInfoTwoTitle {
    text-align: center;
    height: 42px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    font-size: 14px;
    color: rgba(51,51,51,1);
}

.ParkInfoTwoTitle ul li {
    display: inline-block;
    margin: 0 10px;
    cursor:pointer;
}

.ParkInfoTwoTitleActive {
    color: rgba(23,161,230,1);
    border-bottom: 2px solid rgb(23, 161, 230);
    font-weight: bold;
}

.ParkInfoTwoListTrun {
    border-top: 1px solid rgb(242, 242, 242);
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 28px;
    background:#fff;
    border-radius:0 0 4px 4px;
}
.ParkInfoTwoListTrun i {
    margin-right: 5px;
    font-size: 9px;
    position: relative;
    top: -2px;
     transition: 1s;
}
.ParkInfoTwoListTrunUp {
    border-top: 1px solid rgb(242, 242, 242);
    height: 30px;
    text-align: center;
    position: absolute;
    bottom: -31px;
    width: 100%;
    background: #fff;
    border-radius: 0 0 4px 4px;
    line-height: 28px;
}
.ParkInfoTwoListTrunUp i {
    margin-right: 5px;
    font-size: 9px;
    position: relative;
    top: -2px;
    transform: rotate(180deg);
    transition: 1s;
}
.leasetype {
    padding: 10px 9px 0px 9px;
    color: rgba(51,51,51,1);
}

.leasetype ul {
    margin: 0;
}

.leasetype ul li {
    display: inline-block;
}

.leasetype_li {
    width: 72px;
    height: 42px;
    background: rgba(242,242,242,1);
    border-radius: 2px;
    margin: 4px 4px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    color: rgb(112, 117, 137);
}

.leasetype_li_on {
    width: 72px;
    height: 42px;
    background: rgba(23,161,230,1);
    border-radius: 2px;
    margin: 4px 4px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    color: #fff;
}

.leasetype_li p {
    margin: 0;
    line-height:15px;
}

.leasetype_li_on p {
    margin: 0;
    line-height:15px;
}

.leaseRoomList {
    height: 450px;
    overflow-y: scroll;
    margin: 5px 0 0 6px;
}
.leaseRoomList ul li{
    cursor:pointer;
}
.leaseRoomList ul li img {
    float: left;
    width: 88px;
    height: 66px;
    border-radius: 2px;
}

.leaseRooms {
    padding: 8px 0 0 5px;
    color: rgba(152,159,168,1);
    width: 234px;
    height: 82px;
    border-radius: 2px;
}

.leaseRooms_on {
    background: rgba(23,161,230,1);
    color: #fff;
    padding: 8px 0 0 5px;
    width: 249px;
    height: 82px;
    border-radius: 2px;
}

.leaseRooms_on p {
    color: #fff;
}

.leaseRooms_on span {
    color: #fff;
}

.leaseRoomsRight {
    display: inline-block;
    width: 133px;
    height: 66px;
    margin-left: 8px;
    position: relative;
    top: -4px;
}

.leaseRoomsRight p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    line-height: 25px;
}

.leaseName {
    font-size: 16px;
    font-weight: bold;
    color: rgba(51,51,51,1);
}

.leasePrice {
    font-size: 16px;
    font-weight: bold;
    color: rgba(220,26,63,1);
}

.leaseArea {
    font-size: 12px;
    color: rgba(51,51,51,1);
}
.leaseArea i {
    font-size: 12px;
    color : rgba(207, 209, 210, 1);
    margin-right:5px;
}
/*sell*/
/*compnay*/
.companytype_li {
    background: rgba(242,242,242,1);
    opacity: 1;
    margin: 4px 4px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    width: 72px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    color: rgb(112, 117, 137);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 9px;
}

.companytype_li_on {
    margin: 4px 4px;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    color: #fff;
    width: 72px;
    height: 24px;
    background: rgba(23,161,230,1);
    border-radius: 2px;
    line-height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 9px;
}
/*three*/
.parkInfoBox_text {
    width: 1200px;
    margin: auto;
    margin-top: auto;
    margin-top: -163px;
}

.ParkInfoThree_leftBox {
    /*width: 860px;
    display: inline-block;
    height: 420px;
    margin-right: 54px;*/
    width: 860px;
    display: inline-block;
    height: 420px;
    margin-right: 20px;
}

.ParkInfoThree_rightBox {
    /*background: #fff;
    width: 285px;
    display: inline-block;
    float: right;
    position: absolute;
    top: 1px;*/
    background: #fff;
    width: 320px;
    display: inline-block;
    float: right;
    position: absolute;
    top: 1px;
    padding-left: 20px;
}

.ParkInfoThree_rightBox_up {
    background: #ccc;
    width: 285px;
    display: inline-block;
    /*position: relative;
    top: -652px;*/
    float: right;
    position: absolute;
    top: 1px;
}

.ParkInfoThree_right {
    padding: 33px 0 0 0;
}

.pitr_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: rgba(51,51,51,1);
    margin-bottom: 10px;
}

.ParkInfoThree_right_one img {
    width: 60px;
    height: 60px;
    display: inline-block;
    position: relative;
    top: -52px;
    border-radius: 4px;
    margin-right: 10px;
}

.ParkInfoThree_right_one {

}

.pitro_rb {
    /*background: #e6e6e6;*/
    display: inline-block;
    width: 215px;
}

.pitro_name {
    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: rgba(51,51,51,1);
}

.pitro_text1 {
    color: rgba(152,159,168,1);
    margin-bottom: 5px;
    font-size: 12px;
    margin-top: -7px;
    overflow: hidden;
    height: 39px;
}

.pitro_text2 {
    font-size: 12px !important;
    font-weight: 400 !important;
    color: rgba(220,26,63,1) !important;
}

.ParkInfoThree_right_two input {
    border: none;
}

.pitrt_inp {
    width: 285px;
    height: 36px;
    background: rgba(255,255,255,1);
    border: 1px solid rgb(230, 230, 230);
    opacity: 1;
    border-radius: 4px;
    color: rgba(152,159,168,1);
    padding: 6px 10px;
    font-size: 12px;
}

.ParkInfoThree_right_three {
    width: 285px;
    height: 114px;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(230,230,230,1);
    opacity: 1;
    border-radius: 4px;
    padding: 6px 10px;
}

.pitrth_text1 {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: rgba(51,51,51,1);
    margin-bottom: 10px;
}

.ParkInfoThree_right_three textarea {
    width: 253px;
    height: 69px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(152,159,168,1);
    opacity: 1;
    border: none;
}

.pitr_btn {
    width: 140px;
    height: 36px;
    background: rgba(23,161,230,1);
    opacity: 1;
    border-radius: 4px;
    border: none;
    color: #fff;
    margin: 12px 25%;
    cursor: pointer;
}
/*left*/
.ParkInfoThree_left {
    padding: 30px 0 32px 0;
}
.ParkInfoThree_left_text{
    margin-bottom:50px;
}
.roomInfo_tit {
    width: 840px;
    height: 38px;
    font-size: 28px;
    font-weight: bold;
    color: rgba(51,51,51,1);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 45px;
}

.ParkInfoThree_left_title {
    text-align: left;
    height: 40px;
    border-bottom: 1px solid rgba(23,161,230,1);
    line-height: 40px;
    font-size: 14px;
    color: rgba(51,51,51,1);
}

.ParkInfoThree_left_title ul li {
    display: inline-block;
    margin: 0 38px 0 0;
    text-align: center;
    display: inline-block;
    width: 86px;
    height: 40px;
    border-radius: 4px 4px 0px 0px;
}

.ParkInfoIndex_in {
    width: 86px;
    height: 40px;
    background: rgba(23,161,230,1);
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    font-weight: bold;
}

.RoomInfoThreeLeft_all {
    height: 570px;
}

.RoomInfoThreeLeft_part {
    /*border: 1px solid red;*/
    height: 412px;
}

.ParkInfo_text {
    padding: 24px 0;
}

.ParkInfo_text p {

}
.parkIntroduced, .advantage, .parkElegant, .discounts {
    margin: 0;
    text-indent: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(51,51,51,1);
}
.roomInfoBox_one{
    margin-top:10px;
}
.roomInfoBox_one li {
    display: inline-block;
    margin-right: 24px;
}

.roomInfoBox_one li p {
    margin: 0;
    line-height:23px;
}
.roomInfoBox_one li p:nth-child(1) {
    color: rgba(152,159,168,1);
}
.ribo_bold {
    font-size: 24px;
    font-weight: bold;
    color: rgba(51,51,51,1);
}

.roomInfoBox_two li {
    color: rgba(152,159,168,1);
    margin: 16px 0;
}

.roomInfoBox_two li span {
    color: rgba(51,51,51,1);
    margin-left: 32px;
}
.lookTime {
    width: 769px;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*img*/
.infoImg {
    width: 858px;
    height: 443px;
    margin-top: 20px;
}

.stylesgoleft {
    float: left;
    width: 40px;
    height: 80px;
    background: rgba(0,0,0,.5);
    position: relative;
    top: 188px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 73px;
    z-index: 1;
    opacity: 0;
}
.stylesgoleft i {
    transform: rotate(89.6rad);
    margin-top: 5px;
}
.stylesgoright {
    float: right;
    width: 40px;
    height: 80px;
    background: rgba(0,0,0,.5);
    position: relative;
    top: -335px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 73px;
    z-index: 1;
    opacity: 0;
}
.stylesgoright i {
    transform: rotate(-89.6rad);
    margin-top:5px;
}
.infoImg img {
    width: 100%;
    height: 100%;
    position: relative;
    top: -82px;
    border-radius: 4px;
    cursor:pointer;
}
.infoImg:hover .stylesgoleft {
    opacity: 1;
}
.infoImg:hover .stylesgoright {
    opacity: 1;
}
.infoImg_num {
    width: 60px;
    height: 26px;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    position: relative;
    top: -135px;
    margin: auto;
}
.infoImg_num span {
    text-align: center;
    /*margin-left: -25px;*/
}
.fullView {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
}
.parkImg:hover .parkImg stylesgoleft {
    opacity: 1;

}
.parkImg:hover .parkImg stylesgoright {
    opacity: 1;
}
/*.parkImg stylesgoleft{
    opacity:1;
}
.parkImg stylesgoright {
    opacity: 1;
}*/
.parkImg img {
    left: -30px;
}
.parkImg_num {
    width: 60px;
    height: 26px;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    position: relative;
    top: -135px;
    margin: auto;
}
.parkImg_num span {
    text-align: center;
    margin-left: -25px;
}
.pleft i {
    font-size: 18px;
    position: relative;
    left: -33px;
    transform: rotate(89.6rad);
    top: -11px;
}
.pright i {
    font-size: 18px;
    position: relative;
    left: -30px;
    transform: rotate(86.4rad);
    top: 18px;
}
.infoImg video {
    width: 100%;
    height: 100%;
    position: relative;
    top: -82px;
    border-radius: 4px;
    cursor: pointer;
}
.infoImgFull {
    width: 900px;
    height: 675px;
    margin: auto;
}
.infoImgFull img {
    width: 100%;
    height:100%;
}
.closeFull {
    color: #fff;
    position: absolute;
    right: 15%;
    top: 30px;
}
.botImgUl {
    /*width: 1200px;
    height: 138px;
    background: #ccc;
    margin: 126px auto;*/
    width: 50%;
    height: 138px;
    background: rgba(0,0,0,.8);
    margin: 126px auto;
    position: absolute;
    left: 25%;
}
.botImgUl ul {
    text-align: center;
}
.botImgUl ul li {

}
.botImgUl ul li img {
    width: 100%;
    height: 100%;
    cursor:pointer;
}
.stylesgoleft_full {
    opacity: 1;
    top: 373px;
}
.stylesgoleft_full i {
    font-size: 18px;
    transform: rotate(89.6rad);
    margin-top: 6px;
}
.stylesgoright_full {
    opacity: 1;
    top: -373px;
}
.stylesgoright_full i {
    font-size: 18px;
    transform: rotate(-89.6rad);
    margin-top: 6px;
}
.imgFull_p {
    width: 60px;
    height: 26px;
    background: rgba(0,0,0,1);
    opacity: 0.5;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    position: relative;
    top: -47px;
    margin: auto;
}
.botImg_li {
    display: inline-block;
    width: 100px;
    height: 67px;
    margin: 0 12px;
    opacity: 0.6;
}
.botImg_li_on {
    display: inline-block;
    width: 100px;
    height: 67px;
    margin: 37px 12px;
    opacity: 1;
}
.nearParkListBox {
    width: 100%;
    position: relative;
    top: 16px;
    height: 350px;
    margin-top: 30px;
}
.nearParkList {
    width: 1200px;
    margin: auto;
    overflow: hidden;
}
.nearParkList_title {
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    color: rgba(51,51,51,1);
}
.nearParkList ul {
    width: 100%;
    white-space: nowrap;
    position: relative;
    left: -40px;
    transition: 0.5s;
}
.nearParkList ul li {
    width: 285px;
    height: 284px;
    display:inline-block;
    margin-right:20px;
}
.nearParkList ul li:last-child{
    margin:0;
}
.nearParkList ul li img {
    width: 100%;
    height: 214px;
    margin-bottom: 12px;
    border-radius:4px;
}
.nearParkList ul li p:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: rgba(51,51,51,1);
}
.nearParkList ul li p:nth-child(3) {
    color: red;
    line-height: 5px;
}
.nearParkList ul li span:nth-child(1) {
    font-size: 12px;
    font-weight: 400;
    color: rgba(140,143,167,1);
}
.nearParkList ul li span:nth-child(2) {
    color: green;
    float: right;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51,51,51,1);
    line-height: 0px;
}
.nearParkList ul li span:nth-child(3) {
    color: orange;
}
.nearToLeft {
    float: left;
    width: 40px;
    height: 214px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 0px;
    z-index: 1;
    opacity:1;
}
.nearToLeftHide {
    float: left;
    width: 40px;
    height: 214px;
    background: rgba(0,0,0,.5);
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 0px;
    z-index: 1;
    opacity:0;
}
.nearToLeft i {
    transform: rotate(190.1rad);
    position: relative;
    top: 94px;
    left: 11px;
}
.nearToRight {
    float: right;
    width: 40px;
    height: 214px;
    background: rgba(0,0,0,.5);
    position: relative;
    top: -298px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 73px;
    opacity:1;
}
.nearToRightHide {
    float: right;
    width: 40px;
    height: 214px;
    background: rgba(0,0,0,.5);
    position: relative;
    top: -298px;
    cursor: pointer;
    color: #fff;
    text-align: center;
    line-height: 73px;
    opacity:0;
}
.nearToRight i {
    transform: rotate(86.4rad);
    position: relative;
    top: 70px;
    left: 2px;
}
.successBox {
    margin: auto;
    background: #fff;
    width: 420px;
    height: 350px;
    border-radius: 8px;
    transition:;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    padding:40px 50px;
}
.successBox img {
    width: 80px;
    height: 80px;
    margin: 0 0 20px 117px;
}
.successBox p:nth-child(2) {
    width: 96px;
    height: 31px;
    font-size: 24px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    line-height: 31px;
    color: rgba(0,0,0,1);
    opacity: 1;
    margin: auto;
    margin-bottom:21px;
}
.successBox p:nth-child(3) {
    width: 308px;
    height: 38px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 19px;
    color: rgba(51,51,51,1);
    opacity: 1;
    margin: auto;
}
.successBox p:nth-child(4) {
    width: 320px;
    height: 48px;
    background: rgba(23,161,230,1);
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 48px;
    color: rgba(255,255,255,1);
    opacity: 1;
    margin: auto;
    margin-top: 21px;
}
.loginBox {
    margin: auto;
    background: #fff;
    width: 420px;
    height: 350px;
    border-radius: 8px;
    transition:;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
    padding: 40px 50px;
}
.loginBox i {
    position: relative;
    top: -26px;
    float: right;
    left: 32px;
}
.loginBox p{

}
.phoneLogin {
}
.phoneLogin p {
    width: 320px;
    height: 48px;
    background: rgba(242,242,242,1);
    border-radius: 4px;
    font-size: 14px;
    line-height: 48px;
    padding-left: 20px;
    color: rgba(152,159,168,1);
    margin-bottom:30px;
}
.phoneLogin p:nth-child(2) span {
    float: right;
    padding: 0px 10px;
    color: rgba(23,161,230,1);
}
.phoneLogin p:nth-child(3) {
    width: 320px;
    height: 48px;
    background: rgba(23,161,230,1);
    border-radius: 4px;
    font-size: 18px;
    line-height: 48px;
    color: rgba(255,255,255,1);
    text-align: center;
    padding: 0;
}
.phoneLogin input {
    border: none;
    background: none;
}
.codeLogin {
    text-align: center;
    margin-top: -10px;
}
.codeLogin img{
    width:207px;
    height:207px;
}
.codeLogin p {
    font-size: 14px;
    color: rgba(51,51,51,1);
    margin-top: 5px;
}
.activeLogin {
    font-weight: bold;
    color: rgba(23,161,230,1);
}
.loginBoxTit {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: rgba(0,0,0,1);
    margin-bottom:30px;
    padding-left:15px;
}