.enterprise-information {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	background-color: #FFFFFF;
	overflow-y:	auto;
}
.enterprise-information::-webkit-scrollbar {
	display: none;
}
.enterprise-information-back {
	font-size: 40px;
	color: #6C6C6C;
	margin: 30px 0 0 40px;
	overflow: hidden;
}
.enterprise-information-id {
	background-color: #F2F2F2;
	width: 90%;
	height: 120px;
	margin: auto;
	margin-top: 30px;
}
.enterprise-information-id-input {
	float: left;
	outline: none;
	border: none;
	background-color: #F2F2F2;
	width: 80%;
	height: 100%;
	font-size: 40px;
	color: #333333;
	width: 60%;
}
.enterprise-information-modify-tag {
	border-bottom: 3px solid #F2F2F2;
	width: 90%;
	height: 120px;
	margin: auto;
	margin-top: 10px;
}
.enterprise-information-star:before {
	content: '*';
	color: #E50000;
	float: left;
	font-size: 50px;
	margin: 5px;
	line-height: 120px;
}
.enterprise-information-name-input {
	float: left;
	outline: none;
	border: none;
	width: 80%;
	height: 100%;
	font-size: 40px;
	color: #6C6C6C;
	width: 60%;
}
.enterprise-information-modify-photograph-tag {
	border-bottom: 3px solid #F2F2F2;
	width: 90%;
	height: 160px;
	margin: auto;
	margin-top: 10px;
}
.enterprise-information-photograph-star:before {
	content: '*';
	color: #E50000;
	float: left;
	font-size: 50px;
	margin: 5px;
	line-height: 160px;
}
.enterprise-information-upload-a {
	height: 380px;
	width: 90%;
	font-size: 40px;
	color: #949494;
	border-bottom: 3px solid #F2F2F2;
	margin: auto;
	padding: 30px 0 0 30px;
}
.enterprise-information-upload-b {
	height: 380px;
	width: 90%;
	font-size: 40px;
	color: #949494;
	margin: auto;
	padding: 30px 0 0 30px;
	margin-bottom: 100px;
}
.enterprise-information-submit {
	height: 136px;
	width: 100%;
	color: #ffffff;
	font-size: 42px;
	background-color: #0B8BF0;
	text-align: center;
	line-height: 136px;
	position: fixed;
	bottom: 0px;
    z-index:2;
}