.information-child {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
  background-color: #F2F2F2;
}
.information-child-top {
  background-color: #ffffff;
  width: 100%;
  height: 200px;
  padding-top: 50px;
}
.information-child-input {
  width: 100%;
  height: 90px;
  background-color: #F3F3F3;
  opacity: 1;
  border-radius: 50px;
  padding-left: 12%;
  font-size: 40px;
  outline: none;
  border: none;
}
.information-childa-search-img {
  position: relative;
  top: -65px;
  left: 5%;
  width: 40px;
  height: 40px;
}
.information-child-List {
  width: 100%;
  height: 100%;
  white-space: pre-line;
  overflow-y: auto;
  padding-bottom: 500px;
}
.information-child-tag {
  height: 115px;
  width: 100%;
  border-bottom: 15px solid #F2F2F2;
  background-color: #ffffff;
  margin-top: -5px;
}
.information-child-List-child {
  width: 100%;
  height: 450px;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.information-child-List::-webkit-scrollbar {
  display: none;
}
.information-child-c {
  float: left;
  font-size: 40px;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #6C6C6C;
}

.information-child-add-c {
  float: left;
  font-size: 40px;
  height: 100%;
  text-align: center;
  line-height: 100px;
  color: #333333;
  font-weight: 600;
  border-bottom: 5px solid #0B8BF0;
}

.inner-html-c {
  float: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 220px;
}

.inner-html-c p {
  font-size: 36px;
}
