.room-content {
  background-color: #ffffff;
  width: 100%;
}
.room-content-child {
  width: 90%;
  height: 180px;
  margin: auto;
  border-bottom: 1px solid #F2F2F2;
  line-height: 180px;
}
.room-spread-right {
  transform: rotate(90deg)
}
.room-single {
  font-Size: 40px;
  height: 70px;
  min-Width: 100px;
  text-Align: center;
  line-height: 70px;
  background-color: #F2F2F2;
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 0 30px 0 30px;
  color: #707589;
}
.room-single-add {
  font-Size: 40px;
  height: 70px;
  min-Width: 100px;
  text-Align: center;
  line-height: 70px;
  background-color: #0BC491;
  border-radius: 5px;
  float: left;
  margin: 10px;
  padding: 0 30px 0 30px;
  color: #ffffff;
}