.work-order-detail {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: #FFFFFF;
  overflow-y: auto;
  padding-bottom: 200px;
}
.work-order-detail-back {
  font-size: 40px;
  color: #6C6C6C;
  margin: 30px 0 0 40px;
}
