.information-detail {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background-color: #ffffff;
  white-space: pre-line;
  overflow-y: auto;
}
.information-detail::-webkit-scrollbar {
  display: none;
}
