.web {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0px;
}
.icon-view {
  position: fixed;
  bottom: 20px;
  right: 35px;
  z-index: 10;
}
.share {
  margin: auto;
  margin-top: 300px;
  width:500px;
}