.monitor-data {
  width:360px;
  height:820px;
  background:rgba(42,46,51,1);
  opacity:0.8;
  border-radius:6px;
  overflow: hidden;
}
.span-a {
  font-size:14px;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(217,239,255,1);
  opacity:1;
}
.span-b {
  font-size:6px;
  font-family:Microsoft YaHei UI;
  font-weight:400;
  color:rgba(184,187,204,1);
  opacity:1;
}
.span-c {
  font-size:15px;
  font-family:Microsoft YaHei UI;
  color:rgba(255,255,255,1);
  opacity:1;
}
.option {
  margin: 20px 0 0 0;
  height: 60px;
  width: 40%;
  float: left;
}
.add-option {
  margin: 20px 0 0 35px;
  height: 60px;
  width: 40%;
  float: left;
}
.span-d {
  font-size:10px;
  font-family:Microsoft YaHei;
  font-weight:400;
  line-height:24px;
  color:rgba(184,187,204,1);
  opacity:1;
}
.span-e {
  font-size:20px;
  font-family:Microsoft YaHei;
  font-weight:bold;
  line-height:24px;
  color:rgba(255,255,255,1);
  opacity:1;
}
.span-f {
  font-size:12px;
  font-family:Microsoft YaHei;
  font-weight:400;
  line-height:24px;
  color:rgba(255,255,255,1);
  opacity:1;
  margin-left: 8px;
}
.electricity-view {
  width:130px;
  height:70px;
  background:rgba(65,72,80,1);
  opacity:0.6;
  text-align: center;
  border-top: 5px solid #07D1D3;
  float: left;
  margin: 20px 0 0 47px;
}
.water-view {
  width:130px;
  height:70px;
  background:rgba(65,72,80,1);
  opacity:0.6;
  text-align: center;
  border-top: 5px solid #58ABF9;
  float: left;
  margin: 20px 0 0 15px;
}
.span-g {
  font-size:12px;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(217,239,255,1);
  opacity:1;
  margin-top: 10px;
}
.span-h {
  font-size:20px;
  font-family:Microsoft YaHei;
  font-weight:bold;
  color:rgba(255,255,255,1);
  opacity:1;
}
